.message {
    border: solid;
    border-radius: 1rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.7);
    transform: rotate(180deg);
}

.messages {
    transform: rotate(180deg);
    position: absolute;
    height: 100%;
    bottom: 0;
    right: 0;
    left: 0;
}

.scroll-messages {
    position: none;
    transform: none;
}

.scroll-message {
    transform: none;
}

img.message-icon {
    height: 1em;
}

img.message-smile {
    height: 1.5rem;
    vertical-align: middle;
}