.message {
    border: solid;
    border-radius: 1rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.5);
    transform: rotate(180deg);
}

.messages {
    transform: rotate(180deg);
    position: absolute;
    height: 100%;
    bottom: 0;
    right: 0;
    left: 0;
}

.online {
    padding: 0.5rem;
    font-weight: bold;
    transform: rotate(180deg);
}

.online-icon {
    height: 1.5rem;
    vertical-align: middle;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
}

.scroll-messages {
    position: none;
    transform: none;
}

.scroll-message {
    transform: none;
}

.message-icon {
    height: 1em;
}

.message-smile {
    height: 1.5rem;
    vertical-align: middle;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
}

.message-user {
    display: inline;
}

.message-user::after {
  content: ":";
}

.message-content {
    display: inline;
}
