<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Мультичат</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="icon" href="/img/favicon.ico">
    <link rel='stylesheet' type='text/css' media='screen' href='/css/messages.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/custom_style.css'>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
    <script src='/js/messages.js'></script>
</head>
<body>
    <div class="messages" v-bind:class="{'scroll-messages': useScroll}" id="app">
        <div>
            <span v-if="errorCount!=0">🔴{{errorCount}}</span>
            <span v-if="warnCount!=0">🟠{{warnCount}}</span>
        </div>
        <div class="message" v-bind:class="{'scroll-message': useScroll}" v-for="message in messages">
            <img class="message-icon" v-if="message.source=='twitch'" src="/img/twitch.png">
            <img class="message-icon" v-if="message.source=='youtube'" src="/img/youtube.png">
            <img class="message-icon" v-if="message.source=='vk_play_live'" src="/img/vk_play_live.png">
            <img class="message-icon" v-if="message.source=='donation_alerts'" src="/img/donation_alerts.png">
            {{message.user}}: <span v-for="message_content_item in message.message_content">
                <img class="message-smile" v-if="message_content_item.type=='image'" v-bind:src="message_content_item.value">
                <span v-if="message_content_item.type=='text'">{{message_content_item.value}}</span>
            </span>
        </div>
    </div>
</body>
</html>